/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Abhaya Libre", serif;
}

.font-parisienne {
  font-family: "Parisienne", cursive;
}

.font-Abhaya {
  font-family: "Abhaya Libre", serif;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

h1.large {
  font-size: 56px;
  line-height: 60px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h3.medium {
  margin-top: 10px;
  font-size: 42px;
  line-height: 55px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

p {
  font-size: 21px;
  font-weight: normal;
}

small {
  font-size: 13px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: bold;
}

small.primary {
  font-size: 13px;
  text-transform: uppercase;
  color: #511da5;
  font-weight: bold;
}

small.white {
  font-size: 13px;
  text-transform: uppercase;
  color: #f64d52;
  font-weight: bold;
}

/* @media (max-width: 800px) {
    h1 {
      font-size: 39px;
      line-height: 40px;
    }
    h1.large {
      font-size: 39px;
      line-height: 40px;
    }
  } */
