@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");

body {
  // font-family: 'Montserrat', sans-serif;
  font-family: "Abhaya Libre", serif;
  user-select: none;
}

.font-parisienne {
  font-family: "Parisienne", cursive;
}

.font-Abhaya {
  font-family: "Abhaya Libre", serif;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

h1.large {
  font-size: 56px;
  line-height: 60px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h3.medium {
  margin-top: 10px;
  font-size: 42px;
  line-height: 55px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 14px;
  font-weight: bold;
}

p {
  font-size: 21px;
  font-weight: normal;
}

small {
  font-size: 13px;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: bold;
}

small.primary {
  font-size: 13px;
  text-transform: uppercase;
  color: #511da5;
  font-weight: bold;
}

small.white {
  font-size: 13px;
  text-transform: uppercase;
  color: #f64d52;
  font-weight: bold;
}

@media (max-width: 800px) {
  // h1 {
  //   font-size: 39px;
  //   line-height: 40px;
  // }

  // h1.large {
  //   font-size: 39px;
  //   line-height: 40px;
  // }
}

.rhap_additional-controls,
.rhap_volume-controls,
.rhap_progress-section {
  display: none !important;
}

.rhap_container {
  padding: 0 !important;
  height: auto;
  background-color: transparent !important;
  box-shadow: none !important;
}

.rhap_stacked .rhap_controls-section {
  margin: 0 !important;
}
